@import "../../../node_modules/csstyle/csstyle";
@import "global";

/** Components **/
//@import "components/navbar";
//@import "components/form/form";

body {
  display: flex;
  flex-direction: column;
}

@include component(container) {
  flex: 1;
}
